extends layout
block content
	.row
		.large-12.columns
			a.button.right.tiny(data-reveal-id="addYeast") New Yeast 	
			table#yeasts(style="width: 100%")
				thead
					tr
						th Maltster
						th Name
						th PPG
						th Color
						th Description
				tbody
	#addYeast.reveal-modal.small(data-reveal)
		h2 Yeast Info
		fieldset
			.row.small-12.columns
				.small-2.columns
					label.right.inline(for='inputMaltster') Malster:
				.small-10.columns 
					input#inputMaltster(type='text', placeholder='Who makes the malt')
			.row.small-12.columns
				.small-2.columns
					label.right.inline(for='inputName') Name:
				.small-10.columns
					input#inputName(type='text', placeholder='Name of the Malt')
			.row.small-12.columns
				.small-2.columns
					label.right.inline(for='inputPPG') PPG:
				.small-10.columns
					input#inputPPG(type='text', placeholder='#.####')
			.row.small-12.columns
				.small-2.columns
					label.right.inline(for='inputColor') Color:
				.small-10.columns
					input#inputColor(type='text', placeholder='SRM')
			.row.small-12.columns
				.small-2.columns
					label.right.inline(for='inputDesc') Description:
				.small-10.columns
					textarea#inputDesc
				

		button#btnAddYeast.right Add Yeast
		a.close-reveal-modal &#215;
	
	script(src='/javascripts/yeasts.js')
